<ul>
    {{ range $key, $value := . }}
        <li>{{ $key }}</li>
    {{ end }}
</ul>
<button id="cart-submit-button" hx-post="/cart/submit" hx-indicator="#load-body"
script="on htmx:confirm(issueRequest)
            halt the event
            call Swal.fire({title: 'Confirm', text:'Do you want to continue?'})
            if result.isConfirmed issueRequest()
        end    
        on htmx:responseError
            call Swal.fire({icon: 'error', title: 'Oops...', text: 'Something went wrong while trying to update the users!'})
            then send alter to closest <div/>
        end
        on htmx:afterOnLoad
            call Swal.fire({icon: 'success', title: 'Whoop! Whoop!', text: 'Users updated successfully!'})
            then send alter to closest <div/>
        end"
>Submit</button>
<button id="cart-clear-button" hx-delete="/cart" hx-indicator="#load-body" 
script="on htmx:confirm(issueRequest)
            halt the event
            call Swal.fire({title: 'Confirm', text:'Do you want to continue?'})
            if result.isConfirmed issueRequest()
        end    
        on htmx:responseError
            call Swal.fire({icon: 'error', title: 'Oops...', text: 'Something went wrong while trying to clear the cart!'})
            then send alter to closest <div/>
        end
        on htmx:afterOnLoad
            call Swal.fire({icon: 'success', title: 'Whoop! Whoop!', text: 'Users cleared successfully!'})
            then send alter to closest <div/>
        end"
>Clear</button>