.settings-content {
    padding: .75rem;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.detail-form-block {
    padding: .6rem .9rem;
    margin-top: .65rem;
    margin-bottom: .95rem;
}

.detail-form-block .title-row {
    font-size: 15px;
    font-weight: 600;
    margin: .25rem 0;
    color: #333;
}