<tbody id="tbody">  
    {{ range $i, $user := . }}
        <tr>
            <td>{{ $user.EmailAddress }}</td>
            {{ range $user.Roles}}
                {{ if not .IsScanType}}
                    {{ if .IsAddScanTypes }}
                        <td><input type="checkbox" id="{{ .RoleName }}" script="init increment ${{ $i }} on click if me.checked increment ${{ $i }} else decrement ${{ $i }} end then send ${{ $i }}roles to .scan-type" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }}></td>
                    {{ else }}
                        <td><input type="checkbox" id="{{ .RoleName }}" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }}></td>
                    {{ end }}
                {{ end }}
            {{ end }}
            <td>
                {{ range .Roles}}
                    {{ if .IsScanType}}
                        <label for="{{ .RoleName }}">{{ .RoleDescription }}</label>
                        {{ if ne .RoleName "extsubmitanyscan"}}
                            <input type="checkbox" id="{{ .RoleName }}" script="on ${{ $i }}roles if ${{ $i }} is 0 add @disabled then set me.checked to false else remove @disabled end on click send ${{ $i }}nany to .any-scan end on ${{ $i }}any set me.checked to false end" class= "scan-type not-any-scan"><br>
                        {{ else }}
                            <input type="checkbox" id="{{ .RoleName }}" script="on ${{ $i }}roles if ${{ $i }} is 0 add @disabled then set me.checked to false else remove @disabled then set me.checked to true end on ${{ $i }}nany set me.checked to false end on click send ${{ $i }}any to .not-any-scan" class= "scan-type any-scan"><br>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </td>
        </tr>
    {{ end }}
</tbody>