<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veracode Admin Plus</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
    <link rel="stylesheet" href="/assets/index.css">
</head>

<body>
    <div class="ag-grid">
        <div class="grid-title-filter" id="users-title-filter-block">
            <table>
                <thead hx-get="/users" hx-swap="afterend" hx-trigger="load" hx-indicator="#load-body">
                    <tr>
                        <th>Email</th>
                        {{ range . }}
                            {{ if not .IsScanType}}
                                <th class="rotate"><div><span>{{ .RoleDescription }}</span></div></th>
                            {{ end }}
                        {{ end }}
                        <th>Scan Type</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="load-body" class="htmx-indicator loader"></div>
</body>

</html>