<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veracode Admin Plus</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <style>
        .loader {
            border: 8px solid #f3f3f3;
            /* Light grey */
            border-top: 8px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div hx-include="#permissions" hx-target="#tbody">
        <button class="btn" hx-put="/update">Update</button>
        <button class="btn" hx-put="/cancel">Cancel</button>
    </div>
    <table border="1" style="border-collapse: collapse;">
        <thead hx-get="/users" hx-swap="afterend" hx-trigger="load" hx-indicator="#load-body">
            <tr>
                <th>Username</th>
                {{ range . }}
                <th>{{ .RoleDescription }}</th>
                {{ end }}
            </tr>
        </thead>
    </table>
    <div id="load-body" class="htmx-indicator loader"></div>
</body>

</html>