{{ define "body" }}
    <tbody>
        {{ $teams := .Teams }}
        {{ range $i, $user := .Users }}
            <tr script="init set ${{ $i }} to {{ $user.CountScanTypeAdders }} end" {{ if $user.Altered}}class="altered"{{ end }} id="tr-{{ $i }}" hx-put="/cart/users/{{ $user.UserId }}" hx-on="submit" hx-include=".roles-{{ $user.UserId }}">
                <td class="body-details">{{ $user.EmailAddress }}</td>
                <td class="body-details">{{ $user.AccountType }}</td>
                <td class="body-details">
                    <select multiple name="teams" class="teams-select roles-{{ $user.UserId }}" onchange='SubmitRow("tr-{{ $i }}")'>
                        {{ range $team := $teams }}
                            <option value="{{$team.TeamId}}" {{ range $userTeam := $user.Teams }}{{ if eq $team.TeamId $userTeam.TeamId}} selected {{ end }}{{ end }}>{{$team.TeamName}}</option>
                        {{ end }}
                    </select>
                </td>
                {{ range $user.Roles}}
                    {{ if not .IsScanType}}
                        {{ if .IsAddScanTypes }}
                            <td><input type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class="roles-{{ $user.UserId }}" 
                                script="on click 
                                            if me.checked 
                                                increment ${{ $i }} 
                                            else 
                                                decrement ${{ $i }} 
                                            end 
                                            then send ${{ $i }}roles to .scan-type
                                            then SubmitRow('tr-{{ $i }}')"></td>
                        {{ else }}
                            <td>
                                <input onclick='SubmitRow("tr-{{ $i }}")' type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class="roles-{{ $user.UserId }}">
                                
                                {{ if and (eq .RoleName "extadmin") .IsChecked }}
                                    <input type="checkbox" name="{{ .RoleName }}" checked hidden class="roles-{{ $user.UserId }}">
                                {{ end }}
                            </td>
                        {{ end }}
                    {{ end }}
                {{ end }}
                <td class="long-cell">
                    <button script="on click toggle .hide-scan-types-box on the next <div/> end on ${{ $i }}roles if ${{ $i }} is 0 add @disabled else remove @disabled end" class="scan-type" {{ if eq $user.CountScanTypeAdders 0}}disabled{{ end }}>🔍</button>
                    <div class="hide-scan-types-box scan-types-box">
                        {{ range .Roles}}
                            {{ if .IsScanType}}
                                <label for="{{ .RoleName }}">{{ .RoleDescription }}</label>
                                {{ if ne .RoleName "extsubmitanyscan"}}
                                    <input onclick='SubmitRow("tr-{{ $i }}")' type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class= "roles-{{ $user.UserId }} scan-type not-any-scan" 
                                    script="on ${{ $i }}roles 
                                                if ${{ $i }} is 0 
                                                    add @disabled 
                                                    then set me.checked to false 
                                                else 
                                                    remove @disabled 
                                            end
                                            on ${{ $i }}any 
                                                set me.checked to false 
                                            end"><br>
                                {{ else }}
                                    <input onclick='SubmitRow("tr-{{ $i }}")' type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class= "roles-{{ $user.UserId }} scan-type any-scan" 
                                    script="on ${{ $i }}roles 
                                                if ${{ $i }} is 0 
                                                    add @disabled then set me.checked to false 
                                                else 
                                                    remove @disabled then set me.checked to true 
                                                end 
                                            on ${{ $i }}nany 
                                                set me.checked to false 
                                            end"><br>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </td>
            </tr>
        {{ end }}
    </tbody>
{{ end }}