{{ define "body" }}
    <tbody>
        {{ $teams := .Teams }}
        {{ range $i, $user := .Users }}
            <tr script="init set ${{ $i }} to {{ $user.CountScanTypeAdders }}">
                <td class="details">{{ $user.EmailAddress }}</td>
                <td class="details">{{ $user.AccountType }}</td>
                <td class="details">
                    <select multiple name="teams" class="teams-select roles-{{ $user.UserId }}">
                        {{ range $team := $teams }}
                            <option value="{{$team.TeamId}}" {{ range $userTeam := $user.Teams }}{{ if eq $team.TeamId $userTeam.TeamId}} selected {{ end }}{{ end }}>{{$team.TeamName}}</option>
                        {{ end }}
                    </select>
                </td>
                {{ range $user.Roles}}
                    {{ if not .IsScanType}}
                        {{ if .IsAddScanTypes }}
                            <td><input hx-put="/users/{{ $user.UserId }}" hx-trigger="change" hx-include=".roles-{{ $user.UserId }}" type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" script="on click if me.checked increment ${{ $i }} then else decrement ${{ $i }} end then send ${{ $i }}roles to .scan-type" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class="roles-{{ $user.UserId }}"></td>
                        {{ else }}
                            <td><input hx-put="/users/{{ $user.UserId }}" hx-trigger="change" hx-include=".roles-{{ $user.UserId }}" type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class="roles-{{ $user.UserId }}"></td>
                        {{ end }}
                    {{ end }}
                {{ end }}
                <td>
                    <button script="on click toggle .hide-scan-types-box on the next <div/> end on ${{ $i }}roles if ${{ $i }} is 0 add @disabled else remove @disabled end" class="scan-type" {{ if eq $user.CountScanTypeAdders 0}}disabled{{ end }}>show</button>
                    <div class="hide-scan-types-box scan-types-box">
                        {{ range .Roles}}
                            {{ if .IsScanType}}
                                <label for="{{ .RoleName }}">{{ .RoleDescription }}</label>
                                {{ if ne .RoleName "extsubmitanyscan"}}
                                    <input hx-put="/users/{{ $user.UserId }}" hx-trigger="change" hx-include=".roles-{{ $user.UserId }}" type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" script="on ${{ $i }}roles if ${{ $i }} is 0 add @disabled then set me.checked to false else remove @disabled end on click send ${{ $i }}nany to .any-scan end on ${{ $i }}any set me.checked to false end" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class= "roles-{{ $user.UserId }} scan-type not-any-scan"><br>
                                {{ else }}
                                    <input hx-put="/users/{{ $user.UserId }}" hx-trigger="change" hx-include=".roles-{{ $user.UserId }}" type="checkbox" name="{{ .RoleName }}" id="{{ .RoleName }}" script="on ${{ $i }}roles if ${{ $i }} is 0 add @disabled then set me.checked to false else remove @disabled then set me.checked to true end on ${{ $i }}nany set me.checked to false end on click send ${{ $i }}any to .not-any-scan" {{ if .IsChecked }} checked {{ end }} {{ if .IsDisabled }} disabled {{ end }} class= "roles-{{ $user.UserId }} scan-type any-scan"><br>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </td>
            </tr>
        {{ end }}
    </tbody>
{{ end }}