{{ define "search" }}
<div>
    <div class="band-title">
        <div class="title">All Users</div>
        <div class="filters-with-button">
            <div class="filter-all">
                {{ range .Filters }}
                <div class="filter-filter">
                    <span class="filter-label">{{ .FriendlyLabel }}</span>
                    <span class="equals-sign">=</span>
                    <span class="filter-value">{{ .FriendlyValue }}</span>
                    {{ if .CanDelete }}
                    <svg hx-delete="/users/filters/{{ .Label }}" hx-target="#container" hx-swap="innerHTML" hx-indicator="#load-body" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">
                        <path d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z"></path>
                        </svg>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ if .Filters }}
                <button class="filter-clear" hx-delete="/users/filters" hx-target="#container" hx-swap="innerHTML" hx-indicator="#load-body">Clear Filter</button>
            {{ end }}
        </div>
    </div>
    <div class="band-filters">
        <div>
            <input type="search" id="search_term" name="search_term" placeholder="Search by name, username, email, or API ID">
            <button hx-get="/users" hx-target="#container" hx-swap="innerHTML" hx-indicator="#load-body" hx-include="#search_term">Go</button>
        </div>
        <div>
            <span>Filter by</span>
            <select script="on change 
                                get #filter-options 
                                then set it's name to my value">
                <option disabled selected hidden>Select</option>
                <option value="role_id">Role</option>
                <option value="user_type">User Type</option>
                <option value="login_enabled">Login Enabled</option>
                <option value="login_status">Login Status</option>
                <option value="saml_user">SAML</option>
                <option value="team_id">Team Membership</option>
            </select>
            <span>=</span>
            <select name="" id="filter-options">
                <option disabled selected hidden>Select</option>
                <option class="user_type" value="user">UI User</option>
                <option class="user_type" value="api">API User</option>
                <option class="login_enabled" value="Yes">Yes</option>
                <option class="login_enabled" value="No">No</option>
                <option class="login_status" value="Active"> Active </option>
                <option class="login_status" value="Locked"> Locked </option>
                <option class="login_status" value="Never"> Never </option>
                <option class="saml_user" value="Yes">Yes</option>
                <option class="saml_user" value="No">No</option>
                {{ range .Teams}}
                <option class="team_id" value="{{ .TeamId }}">{{ .TeamName }}</option>    
                {{ end }}
                {{ range .Roles}}
                <option class="role_id" value="{{ .RoleId }}">{{ .RoleDescription }}</option>
                {{ end }}
            </select>
            <button hx-get="/users" hx-target="#container" hx-swap="innerHTML" hx-indicator="#load-body" hx-include="#filter-options">Apply</button>
        </div>
    </div>
</div>
{{ end }}